<nav class="navbar navbar-inverse navbar-static-bottom" role="navigation">
  <div class="container-fluid">
    <div id="footer" class="navbar-collapse collapse">
    	<ul class="nav navbar-nav">                    
    	  <li><a href='{{ url_for("main.home") }}'> Home </a></li>
        <li><a href='{{ url_for("main.about") }}'> About </a></li>
        <li><a href='{{ url_for("main.contact") }}'> Contact</a></li>
    	  {% if current_user.is_authenticated() %}
        <li><a href='{{ url_for("main.knowledgeBase") }}'>Knowledge Base</a></li>
        <li><a href='{{ url_for("main.help") }}'>Help </a></li>
        <li><a href='{{ url_for("main.changeLog") }}'> Change Log</a></li>
    	  {% endif %}
      </ul>
    </div>
  </div>
</nav>
<p style="text-align: center">Copyright &copy;2015 - All rights reserved - NEXT.discovery v<g:meta name="app.version" /></p>
