<li>
    <a href="#">
    	<i class="fa fa-folder-open fa-fw"></i> Project <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li><a href="{{ url_for('project._project', project_id = current_project.id ) }}">{{ current_project.name }}</a></li>
        <li><a href="{{ url_for('project.edit', project_id=current_project.id) }}">Edit Project</a></li>
        <li><a href="{{ url_for('targets.manage') }}">Manage Targets</a></li>
        <li><a href="{{ url_for('new_experiment._new_experiment') }}">New Experiment</a></li>
    </ul>
    <!-- /.nav-second-level -->
</li>


