{% extends "outline.html" %}

{% block script_include %}
<script type="text/javascript" src="/static/js/datatable.min.js"></script>    
{% endblock %}

{% block title %} NEXT.Discovery - Dashboard {% endblock %}

{% block javascript %}
<script>
  // function set_current_project(project_id){
  //   window.alert(project_id)
  //   set_project(project_id=project_id)
  // }
</script>
{% endblock %}

{% block body %}
<h1 class="page-header">Dashboard</h1>

<h4 class="description">Your Projects</h4>
{#
<p>Id: {{config.AWS_ID}} </p>
<p>Secret Key: {{config.AWS_KEY}} </p>
<p>Bucket: {{config.AWS_BUCKET_NAME}} </p>
<p>Host: {{config.NEXT_BACKEND_GLOBAL_HOST}} </p>
#}
<p> Please report errors here: <a href="http://bit.ly/1Cdh0sp">http://bit.ly/1Cdh0sp</a></p>
<table class="table table-bordered left">
  <thead>
    <th> Name </th>
    <th> Description </th>
    <th> Date </th>
    <th> Actions </th>
  </thead>
  {% for project in current_user.projects %}
  <tr>
    <td style="vertical-align:middle;"> <a href="{{ url_for('project._project', project_id=project.id) }}"> {{ project.name }} </a></td>
    <td style="vertical-align:middle;"> {{ project.description }} </td>
    <td style="vertical-align:middle;width:1%;white-space:nowrap;"> {{ project.id.generation_time.strftime('%m/%d/%Y') }} </td>
    <td style="width:1%;white-space:nowrap;"> 
      <form style="display:inline" action="{{ url_for('.edit_project', project_id=project.id) }}" method="post">
        <div style="display:inline-block; padding:5px;" >
          <button type="submit" value="edit" class="btn btn-primary">Edit</button>
        </div>
      </form> 
      <div style="display:inline-block; padding:5px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#confirm-{{project.id}}'>Delete</button> 
      </div>
      <div class="modal fade" id="confirm-{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center">
                  <h4>Are you sure you want to delete?</h4>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form style="display:inline" action="{{ url_for('.delete_project', project_id=project.id) }}" method="post">
                      <button type="submit" value="delete" class="btn btn-danger btn-ok">Delete</a>
                    </form> 
                </div>
            </div>
        </div>
      </div> 
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}  
