{% extends "outline.html" %}

{% block title %} Manage Targets {% endblock %}

{% block sidebar %}
{% include "_project_sidebar.html" %}
{% endblock %}

{% block javascript %}
<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });
});
</script>
{% endblock %}

{% block body %}

<h1 class="page-header">Manage Targets</h1>

<!--Print errors out-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
    <ul class=flashes>
      <p><h5>There were errors!</h5>
      {% for message in messages %}
          {{ message | safe }}
          <br>
      {% endfor %}
      </p>
    </div>
    </ul>
  {% endif %}
{% endwith %}

<h3> Current Target Sets </h3>
{% if current_project.target_sets|length() == 0 %}
<p> No uploaded target sets! </p>
{% endif %}

<table class="table table-bordered left" style="width:80%">
  <thead>
    <th> Target Set Name </th>
    <th> Target Set Size </th>
    <th> Target Set ID </th>
    <th> Actions </th>
  </thead>
  {% for target_set in current_project.target_sets %}
  <tr>
    <td style="vertical-align:middle">
      <a href="{{ url_for('targets.edit',target_set_id=target_set.id ) }}">
          {{ target_set.name }}</a></td>
    <td style="vertical-align:middle"> {{ target_set.targets|length() }} </td>
    <td style="vertical-align:middle"> {{ target_set.id }} </td>
    <td style="width:1%;white-space:nowrap;">
      <!-- edit button -->
      <form style="display:inline"
          action="{{ url_for('targets.edit',target_set_id=target_set.id ) }}"
          method="post">
        <div style="display:inline-block; padding:5px;" >
          <button type="submit" value="edit" class="btn btn-primary">Edit</button>
        </div>
      </form>
      <!-- delete target set button -->
      <form style="display:inline"
          action="{{ url_for('.delete_all',target_set_id=target_set.id) }}"
          method="post">
        <button type="submit" value="delete" class="btn btn-danger btn-ok">
            Delete target set</a>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<h3 class="page-header"> Upload New Target Set </h3>
<h4> Next.Discovery hosted media</h4>

<p>
  Must be a zip file containing targets. If you are just uploading text targets, please see below.
</p>

<form method="post" enctype="multipart/form-data" class="box">
  <!-- Name -->
  <div class="form-group">
    <div class="col-sm-6">
      <label for="usr">Target Set Name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="clearfix"></div>
  </div>


  <!-- primary targets -->
  <div class="form-group">
    <label> Primary Targets</label>
    <p class="help-block"> Zip or txt file containing targets.</p>
    <div class="col-sm-6">
      <label for="primary_type">Select primary target type:</label>
      <select class="form-control" id="primary_type" name="primary_type">
	<option>image</option>
	<option>text</option>
	<option>video (experimental)</option>
	<option>audio (coming soon)</option>
      </select>

      <div class="input-group" name="primary_file">
        <span class="input-group-btn">
	  <span class="btn btn-primary btn-file">
            Browse&hellip; <input class="form-control" type="file" name="primary_file">
          </span>
        </span>
        <input type="text" class="form-control" readonly>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- alt targets -->
  <div class="form-group">
    <label> Alt Targets (Experimental)</label>
    <p class="help-block"> <b>Optional zip file</b> containing alt targets.
      For now, please only use if uploading image targets in case primary targets are video.
      We currently only support image targets.
    </p>
    <div class="col-sm-6">
      <label for="primary_type">Select alt target type:</label>
      <select class="form-control" id="alt_type" name="alt_type">
	<option>None</option>
	<option>image</option>
      </select>

      <div class="input-group" name="alt_file">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Browse&hellip; <input class="form-control" type="file" name="alt_file">
            </span>
        </span>
        <input type="text" class="form-control" readonly>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <script>
    loading = function(){
        console.log('please wait!');
        $('#pleaseWaitDialog').modal('show');//.show();
    };
  </script>
  <!-- Waiting for dialog -->
  <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="notice" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body" id="question-info" style='text-align:center;'>
        </div>
        <center>
            <img src="/static/img/waiting.gif" style="width:300px; height:75;" />
            <br>
            Uploading...
        </center>
        <br>
      </div>
    </div>
  </div>
  <h2>
    <div class="col-sm-1">
      <input type='submit' onclick="loading();" class="btn btn-primary" style="margin-bottom:20px" value="Upload" />
    </div>
    <div class="clearfix"></div>
  </h2>

</form>

<!-- <br/>
<h4>Externally Hosted</h4>
<p> Upload a csv file with your target data. Format:</p>
target_id, primary_type, primary_description, alt_type, alt_description
<p> They types can be img or text </p>
 -->
 {% endblock %}
