{% extends "outline.html" %}

{% block title %} New Project Details {% endblock %}

{% block script_include %}
<script type ="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
  tinymce.init({
  selector: "textarea.editor"
  });
</script>
{% endblock %}

{% block style_include %}
<style type="text/css">
  .fileOption {
  border: 1px solid #ddd;
  }
</style>
{% endblock %}

{% block body %}

<h1 class="page-header">New Project</h1>

<p>Give your Project a name and add users.</p>

<form class="form-horizontal" method="post">
  {{ form.hidden_tag() }}
  <fieldset>

    <!-- Project Name Field -->
    <div class="form-group">
      <label class="col-sm-2 text-right" for="name">{{ form.name.label }}</label>
      <div class="col-sm-4">
        {{ form.name(class_="form-control") }}
        {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </div>
    </div>

    <!-- Project Description -->
    <div class="form-group">
      <label class="col-sm-2 text-right" for="description">{{ form.description.label }}</label>
      <div class="col-sm-8">
        {{ form.description(class_="form-control") }}
        {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </div>
    </div>
    
    {#
    <!-- Public or Private -->
    <!-- <div class="form-group"> -->
    <!--   <label class="col-sm-2 text-right" for="users">{{ form.users.label }}</label> -->
    <!--   <\!-- <p>comma separated list of usernames.</p> -\-> -->
    <!--   <div class="col-sm-8"> -->
    <!--     {{ form.users(class_="form-control") }} -->
    <!--     {% for error in form.users.errors %} -->
    <!--       <span style="color: red;">[{{ error }}]</span> -->
    <!--     {% endfor %}<br> -->
    <!-- 	</div> -->
    <!-- </div> -->
    #}

    {% for message in get_flashed_messages() %}
    <div class="form-group">{{ message }}</div>
    {% endfor %}
    
    <!-- Submit button -->
    <h2>
      <div class="col-sm-offset-5">
        <button type="submit" class="btn btn-primary">Create Project</button>
      </div>
    </h2>

  </fieldset>
</form>

{% endblock %}



