{% extends "outline.html" %}

{%block script_include %}
<script type="text/javascript" src="/static/js/datatable.min.js"></script>
{%endblock %}

{% block title %} Project: {{ current_project.name }} {% endblock %}

{% block sidebar %}
{% include "_project_sidebar.html" %}
{% endblock %}

{% block body %}
<h1 class="page-header">Project: {{ current_project.name }}</h1>

<h4 class="description">Your Experiments</h4>

<!-- table of experiments -->

<table id="experiments" class="table table-bordered left">
	<thead>
	    <th> Name </th>
	    <th> Description </th>
	    <th> Status </th>
	    <th> Date </th>
	    <th> Actions </th>
	</thead>
	{% for experiment in current_project.experiments %}
	<tr>
		<td style="vertical-align:middle;">
			<a href="{{ url_for('experiment._experiment', experiment_id = experiment.id ) }}"> {{ experiment.name }}</a>
		</td>
		<td style="vertical-align:middle;"> {{ experiment.description }}</td>
		<td style="vertical-align:middle;width:1%;white-space:nowrap;"> {{ experiment.status }} </td>
		<td style="vertical-align:middle;width:1%;white-space:nowrap;"> {{ experiment.id.generation_time.strftime('%m/%d/%Y') }} </td>
		<td style="width:1%;white-space:nowrap;">
			<!-- edit button -->
			<form style="display:inline" action="{{ url_for('.edit_experiment', experiment_id=experiment.id) }}" method="post">
				<div style="display:inline-block; padding:5px;" >
			  		<button type="submit" value="edit" class="btn btn-primary">Edit</button>
				</div>
			</form>
			<!-- clone button -->
			<!--<form style="display:inline" action="{{ url_for('.clone_experiment', experiment_id=experiment.id) }}" method="post">-->
				<!--<div style="display:inline-block; padding:5px;">-->
					  <!--<button type="submit" value="clone" class="btn btn-primary">Clone</button>-->
				<!--</div>-->
			<!--</form> -->
			<!-- delete button with confirmation -->
			<div style="display:inline-block; padding:5px;">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target='#confirm-{{experiment.id}}'>Delete</button>
			</div>
	      	<div class="modal fade" id="confirm-{{experiment.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        	<div class="modal-dialog">
	            	<div class="modal-content">
	                	<div class="modal-header" style="text-align:center">
		                  	<h4>Are you sure you want to delete?</h4>
		                </div>
		                <div class="modal-footer" style="text-align:center">
		                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                    <form style="display:inline" action="{{ url_for('.delete_experiment', experiment_id=experiment.id) }}" method="post">
		                      	<button type="submit" value="delete" class="btn btn-danger btn-ok">Delete</a>
		                    </form>
	                	</div>
	            	</div>
	        	</div>
	      </div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
